<h2 class="page-header">Tranfer Vehicle</h2>
{{#each vehicle}}
<tr>
        <h4>This is the vehicle information</h4>
        <p>chasis_no: {{vehicle.chasis_no}}</p>
        <p>reg_no: {{vehicle.vehicle_no}}</p>
        <p>model: {{vehicle.Model}}</p>
        <p>yom: {{vehicle.yom}}</p>
        <p>manufacture_country: {{vehicle.manufacture_country}}</p>
        <p>engine_no: {{vehicle.engine_no}}</p>
        <p>color: {{vehicle.color}}</p>
</tr>

{{/each}}

<form method="post" action="/trasfer_owner">
  <div class="form-group">
    <label>Owner Name</label>
    <input type="text" class="form-control" name="owner_name" placeholder="Name of the owner" required="">
  </div>
  <div class="form-group">
    <label>NIC</label>
    <input type="text" class="form-control" name="nic" placeholder="NIC" required="" maxlength="12">
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>