<h2 class="page-header">Tranfer Vehicle</h2>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default" style="color:black">
      <div class="panel-body">
        <form method="post" action="/trasfer_owner">
          <div class="form-group">
            <label>Name of Transferee</label>
            <input type="text" class="form-control" name="transferee_name" placeholder="Name of Transferee" required="">
          </div>

          <div class="form-group">
            <label>Address of Transferee</label>
            <input type="text" class="form-control" name="transferee_address" placeholder="Address of Transferee" required="">
          </div>

          <div class="form-group">
            <label>NIC</label>
            <input type="text" class="form-control" name="nic" placeholder="NIC" required="" maxlength="12">
          </div>

          <div class="form-group">
            <label>License No</label>
            <input type="text" class="form-control" name="license" placeholder="License" required="">
          </div>

          <div class="form-group">
            <label>Province</label>
            <input type="text" class="form-control" name="province" placeholder="Province" required="">
          </div>

          <div class="form-group">
            <label>District</label>
            <input type="text" class="form-control" name="district" placeholder="District" required="">
          </div>

          <button type="submit" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default" style="color:black">
      <div class="panel-body">
        <h3>Previous Owners</h3>
        {{#each vehicle}}
          {{#each owner_info as |one|}}
            {{#each one as |two|}}
              <p>Name: {{two.name}}</p>
              <p>NIC: {{two.nic}}</p>
              <p>Address: {{two.owner_address}}</p>
              <p>Date: {{prettifyDate two.timestamp}}</p>
              <br>
            {{/each}}
          {{/each}}
        {{/each}}
      </div>
    </div>
  </div>

</div>

{{#each vehicle}}
<tr>
  <h4>This is the vehicle information</h4>
  <p>chasis_no: {{vehicle.chasis_no}}</p>
  <p>reg_no: {{vehicle.vehicle_no}}</p>
  <p>model: {{vehicle.Model}}</p>
  <p>yom: {{vehicle.yom}}</p>
  <p>manufacture_country: {{vehicle.manufacture_country}}</p>
  <p>engine_no: {{vehicle.engine_no}}</p>
  <p>color: {{vehicle.color}}</p>
  <!--       <p>Name of Transferor: {{vehicle.owner_name}}</p> -->
  <!--       <p>Address of Transferor: {{vehicle.owner_address}}</p> -->
</tr>

{{/each}}