<h2 class="page-header">Tranfer Vehicle</h2>
{{#each vehicle}}
<tr>
        <h4>This is the vehicle information</h4>
        <p>chasis_no: {{vehicle.chasis_no}}</p>
        <p>reg_no: {{vehicle.vehicle_no}}</p>
        <p>model: {{vehicle.Model}}</p>
        <p>yom: {{vehicle.yom}}</p>
        <p>manufacture_country: {{vehicle.manufacture_country}}</p>
        <p>engine_no: {{vehicle.engine_no}}</p>
        <p>color: {{vehicle.color}}</p>
 <!--       <p>Name of Transferor: {{vehicle.owner_name}}</p> -->
</tr>

{{/each}}

<form method="post" action="/trasfer_owner">
  <div class="form-group">
    <label>Name of Transferee</label>
    <input type="text" class="form-control" name="transferee_name" placeholder="Name of Transferee" required="">
  </div>

  <div class="form-group">
    <label>Address of Transferee</label>
    <input type="text" class="form-control" name="transferee_address" placeholder="Address of Transferee" required="">
  </div>  

  <div class="form-group">
    <label>NIC</label>
    <input type="text" class="form-control" name="nic" placeholder="NIC" required="" maxlength="12">
  </div>

  <div class="form-group">
    <label>Date of Transfer</label>
    <input type="text" class="form-control" name="transfer_date" placeholder="Date of Transfer" required="">
  </div>  

  <button type="submit" class="btn btn-info">Submit</button>
</form>